/* General Pattern Style*/

body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}

.primary-button {
	background-color: #99cc99;
	text-decoration: none;
	color: #303030;
	border: none;
	padding: 14px;
	border-radius: 5px;
	margin-left: 5px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.secondary-button {
	color: #fff;
	background-color: #6666cc;
	border: none;
	padding: 10px 24px;
	margin-top: 10px;
	border-radius: 5px;
}

.secondary-button:hover, .secondary-button:focus {
	cursor: pointer;
	color: #6666cc;
	background-color: #fff;
	border: 1px solid #6666cc;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.primary-button:hover, .primary-button:focus {
	color: #303030;
	cursor: pointer;
	box-shadow: 2px 4px 5px #6633cc;
	background-color: #fff;
}

a:hover, a:focus {
	color: #000!important;
	background-color: #fff;
}

/* Navigation */

.top {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: left top;
	background-image: url("./img/bg/bg.png");
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#nav > li {
	float: right;
}

ul > li > a {
	display: block;
	color: white;
	text-align: center;
	padding: 12px 14px;
	text-decoration: none;
}

#support-button {
	padding: 8px 24px;
	margin-top: 8px;
}

#nav {
	margin: 2% 10%;
}

#nav a {
	color: #fff;
}

/* Hero Component */

.call-to-action-style {
	color: #fff;
	margin: 80px 80px 100px 80px;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

.call-to-action-style h1 {
	line-height: 55px;
	font-size: 2.5em;
}

.call-to-action-style input[type=text] {
	padding: 13px 15px;
	width: 300px;
	border: none;
	border-radius: 5px;
}

/* Accessible Input */ 

#domain-input {
	color: #666;
	position: relative;
}

#domain-input > label {
	position: absolute;
	top: 25%;
	left: -5%;
	width: 100%;
	transition: 0.2s;
}

#domain-input input:focus +label, input:hover +label, input:active + label {
  top: 20;
  font-size: 10px;
  margin-top: -10px;
}

/* Learn More */

.learn-more {
	text-align: center;
}

h5 {
	color: #fff;
	font-weight: normal;
	text-align: center;
}

.scroll-down-button {
	border: none;
	text-align: center;
	padding: 10px;
	background-color: #99cc99;
	border-radius: 100%;
}

.scroll-down-button:hover, .scroll-down-button:focus {
	cursor: pointer;
	background-color: #6633cc;
	transform: translatey(8px);
}

/* Description */

.description {
	color: #303030;
	line-height: 24px;
	text-align: center;
	margin: 6% 25%;
}

/* Services */

.services {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.service-card {
	position: relative;
	margin: 10px;
	padding: 5px 5px;
	border-radius: 5px;
	background-color: #fcfcfd;
	border: 2px solid #f6f6f6;
	flex-basis: calc(40% - 20px);
	justify-content: center;
	flex-direction: column;
}

.service-card:hover, .service-card:focus {
	cursor: pointer;
	box-shadow: 2px 4px 8px #7a7a7a;
}

.service-card > img {
	width: 20%;
	float: left;
	margin-right: 20px;
	display: inline;
}

.service-card > h3, p {
	display: block;
}

/* Create Account */

.create-account {
	margin: 0 10%;
	padding: 3% 0;
	font-weight: bold;
	font-size: 18px;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-button {
	color: #6666cc;
	background-color: #fff;
	border: 1px solid #6666cc;
	padding: 10px 24px;
	margin-top: 10px;
	border-radius: 5px;
}

.contact-button:hover, .contact-button:focus {
	cursor: pointer;
	box-shadow: 2px 4px 8px #7a7a7a;
	color: #fff;
	background-color: #6666cc;
	border: none;
}

.bottom {
	background-image: url("./img/bg/bottom.png");
	background-size: cover;
    background-repeat: no-repeat;
}

/* Footer */

.footer-nav {
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 15px;
    background-color: #6666cc;
    padding: 5% 10%;
}

.footer-nav > ul {
	font-size: 12px;
    width: 100%;
}

.footer-nav > ul > li {
	margin: 10px 0;
}

#address {
	margin: 0 7%;
}

/* Responsive */

@media (min-width: 1420px) {
	.top {
		background-size: cover;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
	.service-card {
		flex-basis: 100%;
		margin: 2% 5%;
	}
	.service-card > p, h3 {
		font-size: 12px;
	}
	h5 {
		font-size: 9px;
	}
	.top {
		background-size: cover;
	}
	.description > p {
		font-size: 12px;
	}
	button {
		font-size: 16px;
	}
	.create-account {
		flex-direction: column;
	}
	.create-account > div > p {
		font-size: 12px;
	}
	.footer-nav {
	    flex-direction: column;
	}
}